<div class="navbar-fixed">
    <nav class = "black">
        <div class = "nav-wrapper">
        <a href="#!" class="brand-logo">College Hawk <i class="fas fa-eye"></i></a>
        <ul class = "right">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About</a></li>
        </ul>
        </div>
    </nav>
</div>