<link rel = "stylesheet" href = "/css/exit.css">

<main>
    <h3>Scan QR Code for Exit</h3>
    <br>
    <p class = "status"></p>
    <div id = "reader">

    </div>
</main>

<script src = "https://unpkg.com/html5-qrcode" type = "text/javascript"></script>
<script src = "/js/exit.js"></script>