<link rel="stylesheet" href = "/css/face_detection.css">

<main class = "mask-detector">
    <a class = "mask-start-btn waves-effect waves-light btn">Start</a>
    <br>
    <div id="webcam-container"></div>
    <div id = "detecting"></div>
    <!-- <div id="label-container"></div> -->
</main>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<script src = "/js/face_detection.js"></script>
<script src = "/js/home.js"></script>